main{
    margin-bottom: 5%;
}

.wave{
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    border-top: 45vh solid #173032;
}

#phone-image img{
    width: 75%;
}

#slogan{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 3rem 0;
}

.download{
  color: white;  
}

#links{
    margin-top: 30%;
    text-align: center;
}

h1{
    font-size: 1.5rem;
    letter-spacing: .2rem;
    color: #4ca786;
}

@media (min-width: 576px) {
    #slogan{
        font-size: 3rem;
        color: white;
        text-align: right;
        position: relative;
        margin: 0;
    }

    #links{
        position: relative;
    }

    h1{
        font-size: 1.5rem;
        letter-spacing: .2rem;
        color: #4ca786;
    }

    #download-content{
        position: unset;
    }
    
    .wave{
        position: absolute;
        padding: 0;
        margin: 0;
        overflow: hidden;
        top: 0;
        left: 0;
        border-top: 8rem solid #173032;
    }
    #content{
        margin-top: 1.5rem;
    }

}