body{
    background: url(../assets/img/fondo-inicio.png) no-repeat top/100vw 45%;
}

main{
    margin-bottom: 5%;
}

.wave{
    position: absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    border-top: 45vh solid #173032;
}

#phone-image{
    height: 75vh;
}

#phone-image img{ 
    max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

#slogan{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 3rem 0;
}

#links{
    text-align: center;
    margin-bottom: 20%;
}

h1{
    font-size: 1.5rem;
    letter-spacing: .2rem;
    color: #4ca786;
}

@media (min-width: 576px) {
    body{
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100vw 50%;
    }
    #slogan{
        font-size: 3rem;
        color: white;
        text-align: right;
        position: relative;
        margin: 0;
    }

    #links{
        margin-top: 30%;
        margin-bottom: 0;
        position: relative;
    }

    h1{
        font-size: 1.5rem;
        letter-spacing: .2rem;
        color: #4ca786;
    }

    #download-content{
        position: unset;
    }
    
    .wave{
        position: absolute;
        padding: 0;
        margin: 0;
        overflow: hidden;
        top: 0;
        left: 0;
        border-top: 8rem solid #173032;
    }
    .container{
        margin-top: 1.5rem;
    }

}